
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="productForm">
          <div class="card infoform m-4 p-4">
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" #productName  placeholder="Please Enter Product Name" id="productName" class="form-control">
            </div>

            <div class="form-group">
              <label for="productDetails">Product Details</label>
              <input type="text" #productDetails  placeholder="Please Enter Product Details" id="productDetails" class="form-control">
            </div>

            <div class="text-right">
              <button class="btn btn-primary"
              (click)="onProductAdd(productName,productDetails)">Add Product</button>
            </div>
          </div>
        </div>
        <div class="card m-4" *ngFor="let product of productsArray">
          <div class="card-header">
            <h3>
              {{product.pName}}
            </h3>
          </div>
          <div class="card-body">
            The Product is {{product.pName}} And its status is  <strong>{{product.pStatus}}</strong>
          </div>
          <div class="card-fotter p-2">
            <button class="btn btn-primary"
             (click)="onChangeProductStatus(product.id , getAllProductStatus.Inprogress)">Inprogress</button>
            <button class="btn btn-primary mx-3"
            (click)="onChangeProductStatus(product.id , getAllProductStatus.Dispatched)">Dispatched</button>
            <button class="btn btn-primary"
            (click)="onChangeProductStatus(product.id , getAllProductStatus.Delivered)">Delivered</button>
          </div>
        </div>
    </div>
  </div>
</div>